@font-face{
  font-family: 'Poppins regular';
  font-weight: 400;
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face{
  font-family: 'Poppins medium';
  font-weight: 500;
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
}
@font-face{
  font-family: 'Poppins semibold';
  font-weight: 600;
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
}
@font-face{
  font-family: 'Poppins bold';
  font-weight: 700;
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
}
AnchorPane {
    -fx-background-color: #ffffff;
}
#regular{
    -fx-font-family: 'Poppins regular', sans-serif;
}
#medium{
    -fx-font-family: 'Poppins medium', sans-serif;
}
#semibold{
    -fx-font-family: 'Poppins semibold', sans-serif;
}
Button#semibold{
    -fx-font-family: 'Poppins semibold', sans-serif;
}
#bold{
    -fx-font-family: 'Poppins bold', sans-serif;
}
TableView#semibold{
  -fx-font-size: 16px;
  -fx-alignment: CENTER;
}
TableView#semibold .column-header{
    -fx-background-color: #fff;
    -fx-text-background-color: #333;
    -fx-padding: 0 0 20px 0;
}
TableView#semibold .table-cell{
    -fx-border-color: transparent;
}
.table-row-cell: hover {
    -fx-background-color: #c4c4c4;
    -fx-text-background-color: #333;
}
.table-row-cell: selected {
    -fx-background-color: #c4c4c4;
    -fx-text-background-color: #333;
}
.table-row-cell{
    -fx-background-color: #fff;
    -fx-text-background-color: #333;
}
.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

TableView *.scroll-bar:horizontal *.increment-arrow,
TableView *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}
